.main_container{
    background-image: url("../images/h_img.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 50px;
    color: #ffff;
}
 .mouse {
    margin-top: 230px;
}
.container_about {
    text-align: center;
    line-height: 50px; 
}
.container_services {
    background-image: url("../images/s_image.jpg");
    color: #ffff;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    line-height: 50px;
}
.container_what-we-do{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}
.icons {
    display: flex;
    justify-content: space-between;
}
.container_what-we-do h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
}
.design,
.development,
.product {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    width: 30%;
}
.textwrap{
    border: #fff solid 4px;
    height: 70%;
    width: 70%;
    text-align: center;
    justify-content: center;
}
.description{
    display: none;
    align-items: center;
}
.description h2{
    font-size: 23px;
    text-align: center;
}
.container_p h1{
    text-align: center;
    font-size: 24px;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    border: #fff solid 4px;
    width: 100%;
    height: 100%;
    background: transparent;
    color: rgb(235, 14, 51);
    font-family: 'quicksand',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border: 20px;
    transition: opacity 0.25s;
}
.image__overlay >*{
transform: translateY(20px);
transition: transform 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__title{
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
}
.image__description{
    font-size: 0.8rem;
    margin: 0.25;
    justify-content: center;

}
 h3.text{
    margin-top: -50%;
    display: none;
    border: 5px solid black;
}
.container_contact{
    text-align: center;
    background-image: url("../images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    color: #fff;
    padding-bottom: 200px;
    margin-top: 5%;
}
.details{
    color: #fff;
}
.btn{
    background-color: #fff;
}
.container_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}
.footer-logo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 1rem;
}
.footer-logo p{
    align-items: center;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    font-size: 1rem;

}




