.main_container{
    background-image: url("../images/h_img.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 50px;
    color: #ffff;
}
 .mouse {
    margin-top: 230px;
}
.container_about {
    text-align: center;
    line-height: 50px; 
}
.container_services {
    background-image: url("../images/s_image.jpg");
    color: #ffff;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    line-height: 50px;
}
.container_what-we-do{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}
.icons {
    display: flex;
    justify-content: space-between;
}
.container_what-we-do h1 {
    text-align: center;
    margin-bottom: 50px;
}
.design,
.development,
.product {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    width: 30%;
}
.description {
    display: none;

}
/* .contact_us {
    text-align: center;
    background-image: url("../images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    color: #fff;
    padding-bottom: 200px;
    margin-top: 5%;
}  */ 
